<div class="container">

  <h1>Book now</h1>

  <%= simple_form_for @booking, url: bookings_path do |f| %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.input :experience_id, as: :hidden, input_html: { value: experience.id } %>
    <%= f.input :booking_date, as: :date %>
    <%= f.input :notes, as: :text %>
    <%= f.input :status, as: :select, collection: Booking.statuses.keys, label: 'Status' 
    <%= f.button :submit, "Reserve", class: "btn btn-success" %>
  <% end %>


  <%= link_to "Back to Dashboard", new_booking_path %>
</div>
<%# <%= simple_form_for @booking, url: bookings_path do |f| %> 
    <%# <%= f.hidden_field :experience_id, value: @experience.id %> 
    <%# <%= f.hidden_field :user_id, value: @user.id %> 
    <%# <%= f.button :submit, "Book Now", class: "btn btn-primary" %> 
