<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to experiences_path, class: "navbar-brand" do %>
      <%= image_tag "F4B942.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
<<<<<<< HEAD
        <%# if user_signed_in? %>
          <li class="nav-item active">
=======
        <% if user_signed_in? %>
          <li class="nav-item">
>>>>>>> 59b31e7e98293e507e04db1c1dbccd2ccbda3883
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create Experience", new_experience_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <div class="d-flex align-items-center">
              <% if current_user.avatar.attached? %>
                <%= link_to image_tag(current_user.avatar.variant(resize: "40x40"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
              <% else %>
                <%= link_to image_tag("no-profile-picture-9-520x521.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
              </div>
            </div>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
