<h2><%= experience.title %></h2>
<p><%= experience.description %></p>
<h2><%= experience.location %></h2>
<p><%= experience.capacity %></p>
<h2><%= experience.price %></h2>
<h2><%= experience.user %></h2>
<p><%= experience.category %></p>


