<div class="container">
    <div class="row justify-content-start" >
        <div class="col-6">
            <h1>Dashboard</h1>
            <h3>Your Experiences</h3>         
                <% @listings.each do |listing| %>
                    <li>Title: <%= listing.title %></li>
                    <p>Description: <%= listing.description %></p>
                    <p>Date: <%= listing.date.strftime('%B %d, %Y') %></p>
                    <p>Location: <%= listing.location %></p>
                    <p>Capacity: <%= listing.capacity %></p>
                    <p>Price: R<%= listing.price %></p>
                <% end %>
            <h3>Your Bookings</h3>
            <p>
                <% @bookings.each do |booking| %>
                    <li><%= booking.experience.title %> Status: <%= booking.status %></li>
                <% end %>
            </p>
        </div>
    </div>
</div>









